@import url("./variables.css");

.top-bar-header {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  display: grid;
  grid-gap: 8px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 40px 40px;
  pointer-events: none;
}

.top-bar-upload-btn-container {
  z-index: 0;
  position: relative;
  justify-self: flex-start;
}

.ping {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-light-40);
  animation-name: ping;
  animation-delay: var(--delay, 0);
  animation-duration: 1.6s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  pointer-events: none;
}

.top-bar-header-item-btn {
  box-shadow: 0 2px 4px 0 var(--color-black-40);
  pointer-events: auto;

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-accent);
  }
}

.top-bar-image-folder-toggle-btn {
  z-index: 0;
  position: relative;
  box-shadow: none;
  filter: drop-shadow(0 2px 4px var(--color-black-40));
}

.top-bar-info-item {
  grid-column: 3 / 4;
}

.image-folder-item-count {
  position: absolute;
  right: -2px;
  bottom: -2px;
  background-color: var(--color-light);
  border-radius: 999px;
  padding: 2px 4px;

  &.hidden {
    display: none;
  }
}

.top-bar-panel {
  z-index: 1;
  position: absolute;
  top: 56px;
  right: 8px;
  display: none;
  flex-direction: column;
  max-width: calc(100% - 16px);
  max-height: calc(100% - 64px);
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 var(--color-black-40);
  background-color: var(--color-light);
  color: var(--color-dark);

  &.visible {
    display: flex;
  }
}

.top-bar-panel-title {
  margin-top: 8px;
  margin-bottom: 12px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.upload-panel {
  left: 8px;
  right: auto;
  height: 270px;
}

.uploaded-images-body {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  min-height: 0;
}

.uploaded-images-list {
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 300px;
  max-height: 100%;
  padding: 2px;
}

.uploaded-images-list-item {
  overflow: hidden;
  margin: 2px;
  border-radius: 2px;
  background-image: url("./assets/images/pattern.png");

  &.active {
    box-shadow: 0 0 0 2px var(--color-accent);
  }
}

.uploaded-images-list-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.uploaded-images-list-image {
  max-width: 76px;
  max-height: 48px;
}

.uploaded-images-list-item-preview {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 200px;
  height: 100%;
  padding: 0 4px;
  margin: auto 0;

  @media (max-width: 34rem) {
    width: 100px;
  }
}

.uploaded-images-preview-info {
  overflow: hidden;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:last-of-type {
    margin-bottom: 4px;
  }
}

.uploaded-images-preview-image {
  max-width: 100%;
  max-height: calc(100% - 32px);
  margin: auto;
  border-radius: 4px;
}

.uploaded-images-footer {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
}

.resizer-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
}

.resizer-setting {
  display: flex;
  align-items: center;
}

.resizer-setting-label {
  margin-left: 4px;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color-dark-light);
}

.resizer-list {
  overflow-y: auto;
  max-height: 208px;
  margin-top: 8px;
  margin-bottom: 4px;
  padding-bottom: 4px;
}

.resizer-list-item {
  display: flex;
  padding: 0 4px;

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

.resizer-list-option {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &:first-of-type {
    margin-right: 8px;
  }
}

.resizer-list-option-label {
  margin-left: 2px;
  margin-bottom: 4px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-dark-light);
}

.resizer-list-option-input {
  width: 100%;
  background-color: var(--color-light-dark);
}

.resizer-resize-btn {
  margin: 0 auto;
}

.image-folder {
  width: 324px;
  height: 280px;
}

.image-folder-empty-list-message {
  margin: auto;
  text-align: center;
  font-size: 1.6rem;

  &.hidden {
    display: none;
  }
}

.image-folder-list {
  overflow-y: auto;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  align-content: flex-start;
  height: 100%;
  margin-bottom: 4px;

  &.visible {
    display: grid;

    & + .image-folder-bottom {
      display: flex;
    }
  }
}

.image-folder-list-item {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  border-radius: 4px;
  background-image: url("./assets/images/pattern.png");

  &:has(:hover, :focus-visible, .image-folder-checkbox:checked) :where(.image-folder-remove-btn, .image-folder-checkbox) {
    opacity: 1;
  }
}

.image-folder-checkbox {
  position: absolute;
  top: 2px;
  left: 2px;
  opacity: 0;
  width: 16px;
  height: 16px;

  &:focus-visible {
    opacity: 1;
  }
}

.image-folder-remove-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  opacity: 0;
  padding: 0 2px;
  border-radius: 2px;
  background-color: var(--color-light);
  color: var(--color-brand);

  &:focus-visible {
    opacity: 1;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.image-folder-enlarge-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-folder-list-item-image {
  max-width: 104px;
  max-height: 65px;
}

.image-folder-bottom {
  display: none;
  justify-content: center;
  gap: 8px;
}

.image-folder-download-btn {
  line-height: 1;

  &:disabled {
    cursor: default;
    color: var(--color-light-40);
  }
}

.image-folder-viewer {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.8);
}

.image-folder-viewer-image {
  max-width: 100%;
  max-height: calc(100% - 84px);
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 4px;
}

.image-folder-viewer-header {
  overflow: hidden;
  max-width: calc(100% - 36px);
  padding: 6px 16px;
  margin-bottom: 8px;
  border-radius: 999px;
  background-color: var(--color-light);
  color: var(--color-dark);
  font-size: 1.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (width < 38rem) {
    width: 100%;
    margin-right: auto;
    text-align: center;
  }
}

.image-folder-viewer-footer {
  display: flex;
  margin-top: 8px;

  .icon-btn-round:not(:last-child) {
    margin-right: 8px;
  }
}

.image-folder-viewer-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px;

  svg {
    width: 20px;
    height: 20px;
  }
}

.top-bar-crop-panel {
  top: 104px;
  padding: 4px 8px 8px 8px;
}

.crop-panel-input-group {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 8px;
}

.crop-panel-input-label {
  margin-left: 2px;
  margin-bottom: 4px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-dark-light);
}

.crop-panel-input {
  width: 100%;
  background-color: var(--color-light-dark);

  &:user-invalid + .crop-panel-input-message {
    display: block;
  }
}

.crop-panel-input-message {
  display: none;
  margin-top: 4px;
  font-weight: 500;
  color: var(--color-negative);
}

.crop-panel-btn {
  margin-left: auto;
}

@keyframes ping {
  0% {
    opacity: 1;
    transform: scale(0.1);
  }
  100% {
    opacity: 0;
    transform: scale(2.8);
  }
}
