:root {
  --font-family: "Roboto", sans-serif;

  --color-brand: hsl(219, 44%, 30%);

  --color-accent: hsl(34, 80%, 58%);

  --color-light: hsl(210, 11%, 96%);
  --color-light-40: hsla(210, 11%, 96%, 0.4);
  --color-light-dark: hsl(210, 3%, 86%);

  --color-dark-light: hsl(220, 8%, 32%);
  --color-dark: hsl(222, 9%, 22%);

  --color-black-40: rgba(0, 0, 0, 0.4);

  --color-negative: hsl(4, 60%, 64%);
}
