$primary-color: #bbb;

%primary-input-styles {
	border: none;
	border-radius: 2px;
	background-color: #444;
	color: $primary-color;
}

body { background-color: #333; }

* { box-sizing: border-box; }

.title {
	margin-top: 12px;
	margin-bottom: 12px;
	text-align: center;
	color: $primary-color;
	font-size: 48px;
	font-weight: 200;
}