%container {
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
%primary-input-styles {
	border: none;
	background-color: $light-color;
    color: $dark-color;
}
%slider {
    appearance: none;
    cursor: pointer;

    &::-webkit-slider-thumb {
        appearance: none;
        width: 8px;
        height: 12px;
        margin-top: -4px;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    }
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 4px;
        background-color: #fff;
    }
    &::-ms-track {
        width: 100%;
        height: 4px;
        border-color: transparent;
        background: #fff;
        color: transparent;
    }
    &::-ms-thumb {
        appearance: none;
        width: 8px;
        height: 12px;
        margin-top: -2px;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    }
    &::-moz-range-thumb {
        width: 8px;
        height: 12px;
        border: none;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    }
}
body {
    background-color: $light-color;
}
*, *:after, *:before {
    box-sizing: border-box;
}
.title {
	margin-top: 0;
	margin-bottom: 0;
    padding-bottom: 8px;
    background-color: $brand-color2;
    box-shadow: 0 0 4px rgba(0, 0, 0,.4);
	text-align: center;
	color: $light-color;
	font-size: 48px;
	font-weight: 200;
}
.btn {
    padding: 0 10px 2px 10px;
    border: 0;
    background-color: $brand-color2;
    color: $light-color;
    font-size: 14px;

    &:hover { background-color: $brand-color; }
    &:active { transform: scale(.96); }
}
.inv-btn {
    background-color: $light-color;
    color: $brand-color;

    &:hover { background-color: #ccc; }
}
.font-btn {
    padding: 0 2px;
    border: none;
    background-color: transparent;
    color: $light-color;
    font-size: 14px;

    &:active { transform: scale(.96); }
}
