.dropbox {
    @extend %container;

    position: relative;
	display: block;
    width: 60%;
    min-width: 480px;
	height: 240px;
    background-color: #eee;
    color: $dark-color;
	font-size: 28px;
	text-align: center;
    transition: .2s all;

    &.over {
        background-color: $brand-color2;
        color: $light-color;

        .dropbox-btn {
            @extend .inv-btn;
        }
    }
}
.label-title {
	position: absolute;
	top: 50%;
    left: 0;
    right: 0;
	transform: translateY(-50%);
    transition: opacity .4s;
	user-select: none;

    &.mask { opacity: .2; }
}

.info-msg {
    font-size: 18px;

    &:first-letter { text-transform: uppercase; }
}

.progress-label {
    margin-top: 2px;
    vertical-align: top;
    font-size: 12px;
}
.progress-bar {
    display: none;
    vertical-align: top;
	appearance: none;
	width: 100%;
	height: 4px;

	&::-webkit-progress-bar { background-color: inherit; }

	&::-webkit-progress-value { background-color: $brand-color2; }

    &.show { display: block; }
}

.image-select-input { display: none; }

.btn-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
	text-align: center;
}
.dropbox-btn {
    display: none;
    padding-top: 2px;
	font-size: 18px;

    &.show { display: inline-block; }
}
