@mixin btn($bg-color, $text-color: $light-color) {
    padding: 2px 8px;
    border: 0;
    background-color: $bg-color;
    color: $text-color;
    font-size: 14px;
    transition: all 0.1s;
}
@mixin scrollbar-color($color) {
    &::-webkit-scrollbar-thumb {
        background-color: $color;
    }
}
