.selections {
    @extend %container;
    
	width: 500px;
    margin-top: 8px;
	padding: 8px;
    background-color: #003459;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    color: $light-color;
}
.selections-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: collapse;
    transition: all .2s;
    
    &.mask {
        visibility: visible;
        background-color: rgba(0, 52, 89, .8);
    }
}
.font-button {
    float: right;
    padding: 0 2px;
    margin-bottom: 6px;
    border: none;
    background-color: transparent;
    
    &:active { transform: scale(.96); }
}
.selections-container {
    display: none;
    
    &.show { display: block; }
}
.select {
	@extend %primary-input-styles;
}
.label-container {
	margin-top: 8px;
	text-align: center;
}
.dimension-label {
	display: inline-block;
	width: calc(50% - 8px);
}
.dimension-inputs {
	margin-top: 2px;
	text-align: center;
    width: 100%;
}
.input-container {
	display: inline-block;
	width: calc(50% - 6px);

    &:first-child { margin-right: 6px; }
}
.image-input {
	@extend %primary-input-styles;

	width: 100%;
	margin-bottom: 4px;
	padding: 3px 4px 2px 4px;

	&:last-child { margin-bottom: 0; }
}
.settings {
    display: none;
    
    &.show { display: block; }
}
.setting {
    clear: right;
    overflow: hidden;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ddd;
}

.setting-label { vertical-align: middle; }

.setting-checkbox {
    float: right;
    margin-top: 3px;
}
.setting-slider {
    float: right;
    width: 200px;
    margin-top: 8px;

    @extend %slider;
}
.setting-input {
    @extend %primary-input-styles;
    
    float: right;
    width: 200px;
    padding: 2px 4px;
}
