*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--color-brand);
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

svg {
  box-sizing: content-box;
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

canvas {
  display: block;
  touch-action: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: 0;
}

.input {
  padding: 4px;
  border-radius: 4px;
  font-size: 1.4rem;
}

.btn {
  padding: 8px 16px;
  border-radius: 999px;
  background-color: var(--color-brand);
  color: var(--color-light);
  font-size: 1.3rem;
  font-weight: 500;
}

.icon-btn {
  padding: 4px 8px;
  color: var(--color-brand);
}

.icon-btn-round {
  padding: 8px;
  border-radius: 50%;
  background-color: var(--color-light);
  color: var(--color-brand);
}

.editor {
  position: relative;
  overflow: hidden;
  height: 100%;
  background-image: url("./assets/images/pattern.png");

  &.hidden {
    display: none;
  }
}
