.bottom-bar {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.bottom-bar-crop-btn {
  position: relative;
  display: none;
  margin: 0 auto 8px auto;
  box-shadow: 0 2px 4px 0 var(--color-black-40);
  pointer-events: auto;

  &.visible {
    display: block;
  }
}

.bottom-bar-crop-btn-cut-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%);

  &.visible {
    display: block;
  }
}

.bottom-bar-selection-toggle-btn {
  display: none;
  margin: 0 auto 4px auto;
  pointer-events: auto;

  &.visible {
    display: block;
  }
}

.bottom-bar-items {
  display: flex;
}

.bottom-bar-item {
  display: flex;
  border-radius: 999px;
  background-color: var(--color-light);
  box-shadow: 0 2px 4px 0 var(--color-black-40);
  pointer-events: auto;
}

.bottom-bar-panel-container {
  position: relative;
  margin: 0 8px;
}

.bottom-bar-panel-toggle-btn {
  padding: 4px;
}

.bottom-bar-panel {
  position: absolute;
  bottom: 100%;
  left: 50%;
  display: none;
  padding: 8px 0;
  border-radius: 4px;
  background-color: var(--color-light);
  box-shadow: 0 2px 4px 0 var(--color-black-40);
  transform: translate(-50%, -8px);

  &.visible {
    display: block;
  }
}

.bottom-bar-panel-btn {
  display: flex;
  width: 100%;
  border-radius: 0;
  white-space: nowrap;
}

.bottom-bar-panel-group {
  &:not(:last-of-type) {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--color-light-dark);
  }
}

.bottom-bar-panel-checkbox {
  display: flex;
  align-items: center;
  padding: 8px;

  span {
    margin-left: 8px;
    color: var(--color-dark-light);
    font-size: 13px;
    white-space: nowrap;
    font-weight: 500;
  }
}

.bottom-bar-item-input {
  display: none;
  width: 72px;
  padding: 8px;
  text-align: center;
  border-left: 1px solid var(--color-light-dark);
  border-right: 1px solid var(--color-light-dark);
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-dark);
  cursor: text;

  &.visible {
    display: block;
  }
}
